*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties: */
:root {
  // font family
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  // weight
  --fw-reg: 300;
  --fw-bold: 900;

  // colors
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  // size
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px){
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */
body{
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

input {
  display: none;
}



.portfolio {
  display: flex;
  justify-content: center;
}

.page-container {
  width: 250px;
  height: 400px;
  position: relative;
  perspective: 1500px;
}

#portfolio-cover {
  width: 250px;
  height: 400px;
  position: relative;
}
.section__title--portfolio {
  position: absolute;
  top: 17px;
  left: 50px;
}
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 0.5s;
  color: white;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.section__title--portfolio {
  z-index: 100;
}
.front {
  background-color: #191966;
}
/* 3D rotating box feature in Skills section */
.section__title--skills {
  min-height: 70vh;
  margin-bottom: 1em;
  text-align: center;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
}

.rotatingBox {
  position: relative;
  width: 300px;
  height: 150px;
  transform-style: preserve-3d;
  animation: animate 50s infinite;
}

.rotatingBox > span > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* make animation 3d */
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.rotatingBox > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 33deg)) translateZ(480px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #000004);
}

/* Typography */

h1,
h2,
h3{
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2{
  font-size: var(--fs-h2);
}

h3{
  font-size: var(--fs-h3);
}

.section__title{
  margin-bottom: .25em;
}

.section__title--intro{
  font-weight: var(--fw-reg);
}

.section__title--intro strong{
  display: block;
}

.section__subtitle{
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--about{
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
}
