/* default reset to box modal */
*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
 /* default style  */
nav, main{
    opacity: 0.2;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    background: #fff;
}

/* our navbar */
nav{
    height: 10vh;
}

/* main view map */
#mapView{
    height: 90vh;
}

.bg-navbar{
    background: linear-gradient(91deg, #e2e62d, #a9b050, #328544, #415699, #4b58a5, #9eaaac, #57585a, #343945);
    background-size: 100% 100%;
}
/* select */
#countrySelect{
    margin: 2vh 5vw;
    width: 12vw;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background-color: #c0392b;
    border: none;
    border-bottom: 2px solid #962d22;
    color: #efefef;
    padding: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* hover effects for select countries */
#countrySelect:hover,
    #countrySelect:focus {
  color: #c0392b;
  background-color: white;
  border-bottom-color: #DCDCDC;
}

/* buttons */
.btn{
        width: 100px;
        height: 75px;
        border-radius: 50%;  
}

.btn-cities{
    background: url("../img/cities.png")no-repeat center;
}
.btn-wiki{
    background: url("../img/wiki.png")no-repeat center;
}
.btn-youtube{
    background: url("../img/youtube.png")no-repeat center;
}
.btn-calendar{
    background: url("../img/calendar.png")no-repeat center;
}
.btn-weather{
    background: url("../img/weather_forecast.png")no-repeat center;
}
.btn-language{
    background: url("../img/language.png")no-repeat center;
}
.btn-covid{
    background: url("../img/covid.png")no-repeat center;
}
 /* animation */
.loader{
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    font-size: 30px;
    color: #000;
    perspective: 200px;
}

.load-anim1,.load-anim2{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid;
    border-left-color: #10ac84;
    border-top-color: #ff9f43;
    border-right-color: #0984e3;
    border-bottom-color: #d63031;

    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;

    animation: loadAnim 6s;
    animation-iteration-count: infinite;
}

.load-anim2{
    animation: loadAnim2 3s;
    animation-iteration-count: infinite;
}

@keyframes loadAnim{
    0%{  transform: rotate3d(1,1,1,0deg); }
    100%{  transform: rotate3d(1,1,1,360deg); }
}

@keyframes loadAnim2{
    0%{  transform: rotate3d(1,1,1,0deg); }
    100%{  transform: rotate3d(1,1,1,-360deg); }
}
